* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    border-top: 15px solid black;
    font-family: sans-serif;
}

.body {
    padding: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.logo {
    padding: 10px;
    position: relative;
    display: block;
    width: 60px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

ul {
    text-align: center;
}

ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

ul li a {
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: .5s;
}

ul li a.active {
    background-color: #ccc;
    color: #000;
}

ul li a:hover {
    background-color: black;
    color: #ddd;
    transition: .5s;
}

.landscape {
    z-index: 10;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
}

.dropdown {
    z-index: 10;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    display: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.dropdown ul ul {
    position: absolute;
    top: 85px;
    border-top: 3px solid #000000;
    opacity: 0;
    visibility: hidden;
    margin-left: -40px;
}

.dropdown ul li:hover>ul {
    top: 50px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
}

.dropdown ul ul li {
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid #000305;
    border-top: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.dropdown ul ul li a {
    text-align: center;
    line-height: 50px;
}

.liner {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 1px;
    background-color: rgb(167, 167, 167);
}

.main {
    min-height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e1f26;
}

.container {
    width: 95%;

    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portrait {
    z-index: 1;
    width: 40%;
    height: 600px;
    background: url(https://images.unsplash.com/photo-1542662565-7e4b66bae529?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80) no-repeat center / cover;
    border-radius: 4px;
}

.cv {
    width: 60%;
    min-height: 550px;
    background-color: #303137;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 4px;
    color: white;
    margin-left: -150px;
}

.textcont {
    margin-left: 150px;
}

.cv h1 {
    font-size: 40px;
    font-weight: lighter;
}

.cv p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}

@media (max-width: 768px) {
    .dropdown {
        display: block;
    }

    .landscape {
        display: none;
    }

    .body {
        padding: 3%;
        margin-left: 1%;
        margin-right: 1%;
    }
    
    .container {
        flex-direction: column;
        width: 100%;
        margin: 0 25px;
    }

    .portrait {
        margin-top: 5%;
        width: 100%;
        height: 400px;
    }

    .cv {
        width: 90%;
        margin: 0;
        margin-top: -100px;
        margin-bottom: 5%;
    }

    .textcont {
        margin-left: 0px;
    }
}